.game .buttons {
  width: 350px;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

.game .buttons button {
  padding: 0;
  font-size: 40px;
  border: 1px solid black;
  background-color: white;
  color: rgb(6, 6, 6);
  cursor: pointer;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
